# Virtual environments
venv/
myenv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Environment variables
.env
